a {
  font-size: 60px;
}

body  {
  background-color: #0099FF;
}
img {
  width:  40%;
}

  *{
  font-family: Helvetica, sans-serif;
  }
  body{
    background-color: #c5d5cb;
  }
  *{
  color:#b56969;
}
  *{
    text-align: center;

}
