a {
  font-size: 30px;
}

body  {
  background-color: #0099FF;
}
img {
  width:  40%;
}

  *{
  font-family: Helvetica, sans-serif;
  }
  body{
    background-color: #c5d5cb;
  }
  *{
  color:#b56969;
}
  *{
    text-align: center;

}

a{

  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 1px;
  color: none;

  text-decoration: none;
  border-bottom: 4px solid none;
  /*  cursor: crosshair;*/
  transition: color 1s ease;
}
a:hover{
  color: silver;
