* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 16px;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
}
/* header */
header{
  background-color: #F77F00;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 4vh 0 0 0;
  text-align: center;
}

/* body */

}
img{
  width: 90vw;
  margin: 25px auto;
}
.full{
  width: 100vw;
  height: 100vh;
}

h1{
  float: left;
  font-size: 11.052em;
  transform: rotate(-90deg);
  margin: 0;
  color: #EAE2B7;

}
.width{
  width: 35vw;
  color: #EAE2B7;
  float: right;
  margin-right: 20px;

}
.top-line{
  border-top:8px solid;
  border-top-right-radius : 10px;
  border-top-left-radius : 10px;
  margin-bottom: 5px;
  }
  .bottom-line{
    border-bottom:8px solid;
    border-bottom-right-radius : 10px;
    border-bottom-left-radius : 10px;
    margin-bottom: 5px;
    }
/* alphabet section */
#alphabet{
  background-color: #003049;
  text-align: center;
}

.center{
   margin-top: 85px;
}
/* anatomy seciton */
#anatomy{
  text-align:center;
   padding: 25vh 0 0 0;
}
i {
  border: solid  #F77F00;
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 12px;
  margin: 0;
}
.arrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  letter-spacing: 7px;
}
h2{
  margin: 0;
    font-size: 5em;
}

/* ITC Avant Garde Gothic Pro Bold
font-family: itc-avant-garde-gothic-pro, sans-serif;
font-weight: 7c00;
font-style: normal;
ITC Avant Garde Gothic Pro Book
font-family: itc-avant-garde-gothic-pro, sans-serif;
font-weight: 300;
font-style: normal;
ITC Avant Garde Gothic Pro Medium
font-family: itc-avant-garde-gothic-pro, sans-serif;
font-weight: 500;
font-style: normal;

 */
