*{
  box-sizing: border-box;
}
/*Poynter Oldstyle Text Roman
font-family: poynter-oldstyle-text, serif;
font-weight: 400;
font-style: normal;
Poynter Oldstyle Text Italic
font-family: poynter-oldstyle-text, serif;
font-weight: 400;
font-style: italic;
Poynter Oldstyle Text Bold
font-family: poynter-oldstyle-text, serif;
font-weight: 700;
font-style: normal;
  */
body{
  margin:0;
  padding: 0;
  font-size:16px;
  /* set this at a 16 px, the rest of the body will increase or decrease along with this. */
  font-family: poynter-oldstyle-text, serif;
  font-weight: 5px;
  font-style: normal;
}

h1{
  font-size: 10em;
  font-family: liebeerika,sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 0.8;
}

h2{
  font-size: 2em;
  font-family: liebeerika,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 3px;
}
h3{
  Poynter Oldstyle Text Bold
  font-family: poynter-oldstyle-text, serif;
  font-weight: 700;
  font-style: normal;
}

img{
  width: 500px;
  border-radius: 50%;
}
