*{
    box-sizing: border-box;
}
body{
  margin: o;
  background-color: #F18F01;
  text-align: center;
  font-family: 'Anton', sans-serif;
  letter-spacing: 1px;

}
h1{
  text-transform: uppercase;
  font-size: 3.052em;
  color: #2E4057;


}
a{
  font-size: 2.5em;

}
a{

  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: black;
  text-decoration: none;
  border-bottom: 4px solid none;
  /*  cursor: crosshair;*/
  transition: color 1s ease;
}
a:hover{
  color: #2E4057;
