
body {
    margin: 0;
    color: black;
    background-color: #EDCF8E;
}

#container {
    width: 80vw;
    margin: 0 auto;
    padding: 100px 0 0 0;
    position: relative;

}

h1, p {
    margin: 0;
}
h1 {
    font-size: 100px;
    text-align: center;
    font-family: gastromond, sans-serif;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    color: #1C448E;
}
#coffee {
  background: url('../img/1.png')no-repeat center center;
  width: 80vw;
  height: 80vw;
  position: absolute;
  top:0;
}

/* input {
    width: 50vw;
    height: 40px;
    margin-top: 50px;
    font-size: 30px;
    padding: 25px 0;
    text-align: center;
} */
.close{
    display: none;
  }
.open{
    display: block;
  }
#button {
    width: 150px;
    height: 150px;
    background-color: #A44A3F;
    border-radius: 50%;
    padding: 10px 15px;
    margin: 50px auto;
}
.hover{
    cursor: pointer;
  }
}
