*{
  box-sizing: border-box;
}

body{
  margin:0;
}
/*header section  */
header{
  background-color: #55A8E0;

}

.container{
    width: 1280px;
    height: 270px;
    margin: 0 auto ;
    background-color: #55A8E0;
    text-align: center;

}

.title{
  float: left;
  width: 600px;
  height: 250px;
  margin-top: 10px;
}

.png{
  float: left;
  margin-right:0;
  margin-left: 290px;

}
header h1, header h2{
  margin-top:  20px;
  margin-bottom: 0;
  float: left;
  color: white;
}

h1{
  font-size: 6em;
  margin-top: 20px;
}

h2{
  float: left;
  padding-top: 150px;
  margin-left: -50px;
}

#small{
  font-size: 2em;
  margin-top: 50px;
  color: white;
}
#top{
  font-size: 3em;
  float: left;
  margin-top: 48px;
  margin-left: 1px;
  color: white;
}
#bottom{
  font-size: 3em;
  float: left;
  margin-top: 106px;
  margin-left: -169px;
  color: white;
}

.text{
  width: 450px;
  margin: 0 auto 0;
}


h3{
  text-transform: uppercase;
  font-size: 1.6em;
  text-align: center;
  border-bottom: 2px solid currentColor;
  line-height: 3.85; padding-bottom: 10px;
}

h4{
  font-size: 1.3em;
  font-style: italic;
  text-align: center;
  margin-top: 100px;

}
