*{

  box-sizing: border-box;
}

.container{
  width: 1300px;
  margin: 0 auto;
}
.left-col{
  width: 640px;
  float: left;
  margin: 130px 0px ;
  padding: 5px;
}
.right-col{
  width: 640px;
  float: left;
  margin: 130px 0px ;
  padding: 10px;
}
img{
  max-width: 70%;
  height: auto;
}
h1{
  font-family: 'Bad Script', cursive;
  color:  #9A031E;
  font-size: 5.8em;
  line-height: 1.4em;
  text-align: center;
}
h4{
  font-family: 'Crimson Text', serif;
  color: #424B54;
  font-size: 1.1em;
  margin: -75px 50px 75px 320px;
  font-style: oblique;
}
/* top right bottom left */
.text{
  font-family: 'Crimson Text', serif;
  font-size: 1.3em;
  width: 345px;
  margin: 0 auto;
  padding-top: 65px;
}
.t2{
  font-family: 'Crimson Text', serif;
  font-size: 1.3em;
  margin: 0 auto;
  width: 345px;
  line-height: 1.5em;
}
a{
  font-style: italic;
  font-weight: bold;
  letter-spacing: .7px;
  color: #EA9010;
  text-decoration: none;
  transition: color 1s ease;
}
a:hover{
  color: #9A031E;
}
