body{
  display: block;
  margin: 0;
}

.title{
  font-family: 'Bad Script', cursive;
  color:  #9A031E;
  font-size: 3em;
  line-height: 2.7em;
  margin-left: 165px;
  margin-top: -44px;



}
.author{
  font-family: 'Crimson Text', serif;
  font-size: 1em;
  font-style: normal;
  margin-left: 200px;
  margin-top: 155px;


}
.text{
  font-family: 'Crimson Text', serif;
  font-size: 1.3em;
  width: 345px;

  margin: -343px 716px;
}
.t2{
  position: absolute;
  font-family: 'Crimson Text', serif;
  font-size: 1.5em;
  width: 630px;
  margin-top: 79px;
  margin-left: 170px;
}

a{
  font-style: italic;
  font-weight: bold;
  letter-spacing: .7px;
  color: black;
  text-decoration: none;
  transition: color 1s ease;
}
a:hover{
  color: #9A031E;
}
