body{
  margin:  150px 50px 75px 500px;
  text-align: justify;
}
div{
  width: 300px;

}
h1{
  font-family: 'Bad Script', cursive;
   color:  #9A031E;
   font-size: 2.5em;
   margin-left: -37px;

}
h4{
  font-family: 'Crimson Text', serif;
  width: 300px;
  font-size: 1em;
  font-style: normal;
  margin-left: 86px;
  margin-top; 200px;

}
p{
  font-family: 'Crimson Text', serif;
  width: 300px;
  font-size: 1em;
}
