*{
    box-sizing: border-box;
}
.left-col{
  width: 500px;
  float: left;

  height: 300px;
  margin: 100px 60px ;
  padding: 25px;



}
.right-col{
  width: 500px;
  float: left;

  height: 300px;
  margin: 100px 25px ;
  padding: 25px;

}


h1{
  font-family: 'Bad Script', cursive;
  color:  #9A031E;
  font-size: 5.5em;
  line-height: 1.4em;
  margin-top: 10px;
  margin-left: 30px;
}
h4{
  font-family: 'Crimson Text', serif;
  color: #424B54;
  font-size: 1em;
  text-transform: capitalize;
  margin: -17px 0px 0px 147px;
}
.text{
  font-family: 'Crimson Text', serif;
  font-size: 1.3em;
  width: 345px;
  margin-top: -2px;
  margin-left: 30px;
}
.t2{
  font-family: 'Crimson Text', serif;
  font-size: 1.3em;
  text-align: left;
  width: 345px;
  line-height: 1.5em;
  float: left;
  margin-left: 60px;
  margin-top: -2px;
}

a{
  font-style: italic;
  font-weight: bold;
  letter-spacing: .7px;
  color: #EA9010;
  text-decoration: none;
  transition: color 1s ease;
}
a:hover{
  color: #9A031E;
}
