* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 30px;
  font-family: elido, sans-serif;
  font-style: normal;
}

.page {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;

}

.container{
  overflow: hidden;

}

.title{
  text-align: right;
  padding-top: 60px;
  padding-right: 200px;
  height: 400px;


}

.chapter-section{
  text-align: right;
  float: left;
  width: 200px;
  height: 300px;
  padding-right: 5px;


}

.text{
  float: left;
  width: 550px;
  margin-left: 145px;
  padding: 5px;

}

h1{
  font-size: 4.236em;
  font-family: jubilat, serif;
  font-weight: 700;
  font-style: normal;
  padding-bottom: 20px;

}

h2{
  font-family: elido, sans-serif;
  font-style: normal;
}

h3{
  font-size: 1.5em;
  font-family: jubilat, serif;
  font-weight: 700;
  font-style: normal;

}


/*
ubilat Thin Italic
font-family: jubilat-thin, serif;
font-weight: 400;
font-style: italic;


Jubilat Regular
font-family: jubilat, serif;
font-weight: 400;
font-style: normal;


Jubilat Italic
font-family: jubilat, serif;
font-weight: 400;
font-style: italic;


Jubilat Bold
font-family: jubilat, serif;
font-weight: 700;
font-style: normal;


Jubilat Bold Italic
font-family: jubilat, serif;
font-weight: 700;
font-style: italic;

Elido Bold

font-family: elido, sans-serif;

font-weight: 700;

font-style: normal;


Elido Book

font-family: elido, sans-serif;

font-weight: 400;

font-style: normal;*/
