.intro  {
  font-size: 1.5em;
}
body {
  background-color: #476A6F;

  font-family: 'Spectral', serif;
  font-size: 20px;



}
div {
  width: 600px;
  margin: 50px auto;
  color: white;
}
  h1  {
    font-size: 2.441em;
    font-family: 'Abril Fatface';
    letter-spacing: 3px;



  }
.green {
    font-style: italic;
  }
.uppercase {
  text-transform: uppercase;
}
