.intro  {
  font-size: 1.5em;
  font-style: italic;
}
body {
  background-color: #476A6F;

  font-family: 'Spectral', serif;
  font-size: 20px;



}
div {
  width: 600px;
  margin: 50px auto;
  color: white;
}
  h1  {
    font-size: 2.441em;
    font-family: 'Archivo Black', sans-serif;
  }

}
.uppercase {
  text-transform: uppercase;
}
h3 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 1.5em
}
h2{
  font-family: 'Archivo Black', sans-serif;
  font-size: 1em
}
