*{
    box-sizing: border-box;
}
body{
  margin:0;


}
div{
  float: left;

}
.margin{
  margin-right: 30px;
}
.top-container{
  width: 1350px;

}
.rectangle{
  width:50px;
  height:100px;
  outline-style: solid;
  outline-color: red;
  margin-top: 30px;
  margin-left: 30px;
}
.rectangle2{
  width:50px;
  height:100px;
  outline-style: solid;
  outline-color: red;
  margin-top: 30px;
  margin-left: 1px;

}
.long{
  width:100px;
  height:300px;
  outline-style: solid;
  outline-color: red;
  margin-top: 30px;
  margin-left: 1px;
  margin-right:30px;
}
